.tool {

  &-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 121.7%;
    letter-spacing: 0.005em;
    color: #5F5F5F;
    padding-bottom: 15px;
  }

  &-info-__wrap {
    display: none;
    position: relative;
    z-index: 2;
    background: #1b1b1b;
    padding: 18px 18px 16px 18px;
    min-width: 337px;
    border-radius: 6px;

    img {
      position: absolute;
      top: -10px;
      right: 5px;

      @include mobile {
        right: 0;
        left: 10px;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  &-weight {
    padding-top: 15px;
  }

  &-text {
    font-size: 16px;
    line-height: 121.7%;
    letter-spacing: 0.005em;
    color: #B8B8B8;
  }

  &-info {
    position: absolute;
    left: -307px;
    top: 45px;
  }
}

.modal-tool:hover .tool-info-__wrap {
  display: block !important;

  @include mobile {
    left: 300px;
  }
  @include media-max(360) {
    min-width: 277px;
  }
}

.tool-item.tool-item-weight {
  padding-top: 8px;
}